doctype 5
html(x-ng-app=pkg.name, data-app-version=pkg.version)
  head
    block title

    block scripts
      // usemin2:js:head

    block stylesheets
      // usemin2:css:app

  body.container
    block content
    // usemin2:js:body
